@model EllepolEnt.Models.Pumpregistration

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pumpregistration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PumpID" class="control-label"></label>
                <input asp-for="PumpID" class="form-control" />
                <span asp-validation-for="PumpID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pumpname" class="control-label"></label>
                <input asp-for="pumpname" class="form-control" />
                <span asp-validation-for="pumpname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

