@model EllepolEnt.Models.Invoice

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_03.cshtml";
}

<h1>Create</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group d-none">
                <label asp-for="Invoice_Number" class="control-label"></label>
                <input asp-for="Invoice_Number" class="form-control" value="0"/>
                <span asp-validation-for="Invoice_Number" class="text-danger"></span>
            </div>
            <div class="form-group" name="IDFrom">
                <label asp-for="Item_Id" class="control-label"> Item Id</label>
                <select onchange="iditem(this)" name="Item_Id" class="form-control" asp-items="@ViewBag.listofitems"></select>
            </div>
            <div class="form-group">
                <label asp-for="Item_Name" class="control-label"></label>
                <input readonly asp-for="Item_Name" class="form-control" value="@ViewBag.itemname" />
            </div>
            <div class="form-group">
                <label asp-for="Item_Price" class="control-label"></label>
                <input readonly asp-for="Item_Price" class="form-control" value="@ViewBag.price" />
            </div>
            <div class="form-group">
                <label asp-for="qty" class="control-label"></label>
                <input asp-for="qty" class="form-control" />
                <span asp-validation-for="qty" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">
    function iditem(selectedobj) {
        
        var x = selectedobj.value;
        var url = "/Invoice/PopulateDropDownList?itemId=" + x;
        $.get(url,null,function(data){
            document.getElementById("Item_Name").value = data.name;
            document.getElementById("Item_Price").value = data.price;
        });
    }
</script>

