
@{
    ViewData["Title"] = "Login Fail";
}

<div class="text-center">
    <h1 class="display-4">Invalid UserName or Password,Please check and Try Again.</h1>
    <a href="/Login/LoginUser">Try Again Here.</a>
</div>

