@model EllepolEnt.Models.StockOut

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StockOut</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Stock_ID" />
            <div class="form-group">
                <label asp-for="stockoutDate" class="control-label"></label>
                <input asp-for="stockoutDate" class="form-control" />
                <span asp-validation-for="stockoutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <input asp-for="ItemId" class="form-control" />
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stockout" class="control-label"></label>
                <input asp-for="Stockout" class="form-control" />
                <span asp-validation-for="Stockout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockoutPrice" class="control-label"></label>
                <input asp-for="StockoutPrice" class="form-control" />
                <span asp-validation-for="StockoutPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

